# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: YOUROWNSECRETKEYBASE # generate a new one using: bundle exec rails secret

# The information for the repository where the authors are going to be managed
authors_github:
  repo: username/repo
  # See: https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line
  token: PERSONALACCESSTOKENFORGITHUB 
  # See: https://developer.github.com/webhooks/securing/
  webhook_key: WEBHOOKKEYFORGITHUB 

# Key for the error reporting service: https://bugsnag.com
bugsnag_api_key: OPTIONALBUGSNAGAPIKEY 

# Token for the App Monitoring Service: https://skylight.io
skylight_authentication: OPTIONALSKYLIGHTAUTHTOKEN 
